.container
  .row
    .col-xs-12
      p
        b What is this page?
      p This is our information page where we display the reason why every page exists in our site.

      p We are committed a “User Centred Design” principle.

      p This means that our main priority is to have a website that is fulfilling users needs and helping them achieve their goals.

      p.mb5 This ‘info’ page exists to celebrate that fact by being transparent and making these user needs publicly visible for every page.



      p
        b How to use this page?
      p Within any URL address, enter the text “/info” and you will see the user need for that page.

      p.
        e.g. if you want to see the user needs page for this URL
        #[a(href="https://www.britishgas.co.uk/home-services/landlords/") https://www.britishgas.co.uk/home-services/landlords/]
        you need to use this URL:
        #[a(href="https://www.britishgas.co.uk/info/home-services/landlords/") https://www.britishgas.co.uk/info/home-services/landlords/]


      p (This is a beta experiment, and so some user needs are still in the identification or verification stages).
